@import "./css/fonts.css";
@import "./css/button.css";
@import "./css/root.css";
@import "./css/premTime.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  height: 100%;
  font-family: var(--font-secondary);
  font-size: var(--font-size-preset-6);
  line-height: var(--line-height-loose);
  background-color: var(--color-neutral-100);
  font-weight: 500;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
